/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
	box-sizing:border-box;  
  }
  
  @font-face {
	  font-family: "dunkin sans", "arial";
	  src: url(./fonts/dunkin_sans.otf);
	  font-weight: 400;
  }
  
  
  /*********************/
  /* CUSTOM PROPERTIES */
  /*********************/
  :root {
	  --text-color:#111;
	  --nav-text-color: #512d0e;
	  --white-background-color:#ffffff;
	  --grey-brackground-color: #f5f5f5;
	  --pink-color: #ec4390;
	  --pink-button-color: #ec4dac;
	  --orange-color: #ef6c38;
	  --darkorange-color: #ea4933;
	  --grey-brackground-color: #f5f5f5;
	  --grey-text-color: #adadad;
	  --blue-background-color: #99d6ea;
	  --coffee-background-color: #ddbd8e;
	  --darkcoffee-backgroun-color: #d6b687;
	  --state-color: lime; 
  
	  --font-size-h2: 4em;
	  --font-size-h3: 2em;
	  --font-size-p: 1em;
  
  }